		body {
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 100.01%;
			font-size-adjust: none;
			font-stretch: normal;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			color: black;
			background: url('http://logika-ek.ru/img/main_background.jpg') ;
			-webkit-font-smoothing: subpixel-antialiased;
		}
		.overlay{
			background:transparent url('http://www.10pix.ru/img1/3434/7503168.png') repeat top left;
			position:fixed; /* с помощью этого правила фиксим и растягиваем его на весь экран*/
			top:0px;
			bottom:0px;
			left:0px;
			right:0px;
			z-index:100;   /* поднимем его выше основной разметки*/
		   }

	   .orderbox{
			 position:fixed;
			 top:-900px;
			 left:15%;
			 right:15%;
			 background:#fff;
			 color:#4d4d4d;
			 padding:25px;
			 border:5px solid #e4e4e4;
			 width:50%;
			 z-index:101;   /* а его выше фонового блока*/
	   }
	   
	   .signbox{
			 position:fixed;
			 top:-600px;
			 left:35%;
			 right:35%;
			 background:#fff;
			 color:#4d4d4d;
			 padding:25px;
			 border:5px solid #e4e4e4;
			 width:15%;
			 z-index:101;   /* а его выше фонового блока*/
	   }
	   
		a.order-close{
			float:right;
			width:26px;
			height:26px;
			height:26px;
			background:url('http://iworker.ru/i/close2.png') repeat top left;;
			margin:-30px -30px 0px 0px;
			cursor:pointer;
			display:block
		}   
		
		a.sign-close{
			float:right;
			width:26px;
			height:26px;
			height:26px;
			background:url('http://iworker.ru/i/close2.png') repeat top left;;
			margin:-30px -30px 0px 0px;
			cursor:pointer;
			display:block
		}